 {{template "base" .}}
 
 {{define "css"}}
 {{end}}

 {{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>This is the About Page</h1>
                <p>Some text has been added</p>
            </div>
        </div>
    </div>
 {{end}}

 {{define "js"}}
 {{end}}

